* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav.nav-menu {
    margin-top: 25px;
    text-align: center;
    position: initial;
}

nav.nav-menu ul li.btn {
    list-style-type: none;
    display: inline-block;
}

nav.nav-menu ul li.btn a {
    color: white;
    background-color: red;
    text-decoration: none;
    padding: 10px;
}

nav.nav-menu ul li.btn:hover a {
    color: white;
    background-color: blue;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s;
}

footer {
    color: white;
    text-align: center;
    position: initial;
    bottom: 0;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
}
